body {
	background-color: #6BD1F7;
	font-family: 'Helvetica', sans-serif;
}

h1 {
	font-family: 'Verdana', sans-serif;
	background-color: salmon;
}

p {
	font-family: 'Trebuchet MS', sans-serif;
}

a {
	font-family: 'Papyrus', sans-serif;
	font-weight: bold;
	background-color: gray;
}